:root {
  font-size: 62.5%;
}

* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration-line: none;
  color: purple;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav p {
  margin: 2rem;
}

main {
  width: clamp(12rem, 80vw, 80rem);
  align-self: center;
}

h1, h2, h3 {
  font-size: clamp(1rem, 0.5rem + 4vw, 4rem);
  font-weight: bold;
  margin-bottom: 1.5rem;
}

p, li {
  font-size: clamp(0.75rem, 0.25rem + 1.5vw, 2.5rem);
  line-height: 1.25;
}

li {
  background-color: rgb(173, 127, 173);
  margin-bottom: 0.25rem;
  padding: 0.25rem 0.5rem;
}

input[type=button] {
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 1rem 1.5rem;
  background-color: rgb(82, 1, 102);
  border-radius: 1rem;
  font-size: clamp(0.75rem, 0.25rem + 1.5vw, 2.5rem);
  color: #fff;
}

input[type=button]:hover {
  background-color: rgb(158, 89, 158);
  cursor: pointer;
}

.submitScore {
  display: flex;
  align-items: center;
}

.submitScore input[type=button] {
  margin: 0;
}

input[type=text] {
  display: inline-block;
  width: 20rem;
  height: 3rem;
  margin: 0 2rem;
  font-size: 2rem;
}

#initials, .initials {
  display: inline-block;
}

.home {
  text-align: center;
}

.block {
  display: block;
}

h4 {
  margin-top: 2rem;
  font-size: 3rem;
}