:root {
  font-size: 62.5%;
}

* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration-line: none;
  color: purple;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav p {
  margin: 2rem;
}

main {
  width: 60%;
}

h1, h2, h3 {
  font-size: clamp(1rem, 0.5rem + 4vw, 4rem);
  font-weight: bold;
  margin-bottom: 1.5rem;
}

p {
  font-size: clamp(0.5rem, 0.25rem + 1.5vw, 2.5rem);
}

input[type=button] {
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  background-color: rgb(82, 1, 102);
  border-radius: 1rem;
  font-size: clamp(0.5rem, 0.25rem + 1.5vw, 2.5rem);
  color: #fff;
}

input[type=button]:hover {
  background-color: rgb(158, 89, 158);
  cursor: pointer;
}

.home {
  text-align: center;
}

.option {
  display: block;
}

/* .container {
  border-bottom: 1px grey solid;
} */